* {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
}

.view {
    width: 100%;
    height: 100%;
    float: left;
}

.view .view-inner {
    width: 90%;
    max-width: 600px;
    margin: 10em auto;
    padding: 2em;
    background-color: #efefef;
}

.title{
    font-family: 'Playball', sans-serif;
    font-size: 3em;
    display: block;
    text-align: center;
    margin: 0 0 1em;
}

/* input group */

input {
    width: 100%;
    line-height: 40px;
    outline: none;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    padding: 0 20px;
}

.input-group {
    width: 100%;
    margin-bottom: 20px;
}

.input-group:last-child {
    margin: 0;
}

.input-row {
    position: relative;
    width: 100%;
}

.input-row.input-error:before {
    content: attr(data-error);
    position: absolute;
    top: -10px;
    right: 0;
    transform: translateY(-100%);
    font-size: .8em;
    font-weight: 400;
    background-color: #ff2b2b;
    color: #fff;
    padding: 0 0.5em;
    border-radius: 2px;
}

.input-row.input-error:after {
    position: absolute;
    content: '';
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-top: 5px solid #da1e1d;
    transform: translateY(-100%);
    top: -5px;
    right: 5px;
}